button{
  background:#000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
 width: 100%;
 margin: 5px;
}
button:hover {
  opacity: 0.8;
}

.form{
  width:50%;
  color: #000 ;
  display: block;
margin:auto;
margin-top: 50px;
margin-bottom: 50px;

}
.labelNone{
  display:none;
}